:root {
}

body {
  // Font
  font-family: 'PT Sans', sans-serif;

  // Variables
  --white: #ffffff;
  --gray: #a7a5a5;
  --gray-2: #e3e3e3;
  --gray-light: #f7f7f7;
  --active-color: #fc8507;
  --active-gradient: linear-gradient(101.36deg, #fc8507 0%, #ffa218 100%);

  --bg-color: var(--gray-light);
  --card-bg-color: var(--white);
  --border-radius: 16px;
  --button-radius: 8px;
  --button-hover-color: var(--white);
  --button--hover-bg-color: var(--gray-2);
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

#__nuxt {
  height: 100vh;
}
