:root {
  // VARIABLES

  // Colors
  --white: #ffffff;

  --black: #333333;
  --black-2: #4e4e4e;

  --gray-dark: #8c8c8c;
  --gray: #a7a5a5;
  --gray-2: #e3e3e3;
  --gray-3: #eeeeee;
  --gray-4: #d9d9d9;
  --gray-light: #f7f7f7;

  --green-light: #ebffed;
  --green: #30b25d;

  --yellow-light: #f5e6a8;
  --yellow-dark: #6b5a00;

  --red-light: #e8b4b4;
  --red: #ff5c52;
  --red-dark: #7a1f1f;

  --active-color: #fc8507;
  --active-bg: #fffae6;
  --active-bg-2: #fff9e5;
  --active-gradient: linear-gradient(101.36deg, #fc8507 0%, #ffa218 100%);
  --active-hover: #ffa319;

  // Typography
  --font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  --text-primary: var(--black);
  --font-size: 16px;

  // Transitions
  --tr-duration: 0.2s;
  --tr-fn: ease;

  // Buttons
  --button-radius: 8px;
  --button-hover-color: var(--white);
  --button--hover-bg-color: var(--gray-2);
  --button-hover-bg-color-2: var(--gray-light);
  --button-border-color: var(--gray-4);
  --button-bg-color: var(--white);
  --button-active-bg-color: var(--active-gradient);
  --button-active-color: var(--white);
  --button-active-bg-hover-color: var(--active-hover);

  // Input
  --input-radius: 8px;
  --input-border-color: var(--gray-4);
  --input-placeholder-color: var(--gray-dark);

  // Others
  --bg-color: var(--gray-light);
  --card-bg-color: var(--white);
  --border-radius: 16px;
  --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  --padding-inline: 24px;
}

body {
  font-family: var(--font-family);
  color: var(--text-primary);
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0;
}

#__nuxt {
  height: 100vh;
}

a {
  display: block;
  text-decoration: 0;
  color: inherit;
}

h1 {
  font-size: 24px;
}
